form ul li {
	list-style-type: none;
}
label {
	width: 20%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
}
div#nav {
	width: 200px;
	float: left;
	border: 1px solid #999;
	padding: 10px;
	color: white;
	background-color: navy;
}
div#content {
	border: 1px solid #999;
	margin: 5px;
	padding: 10px;
	color: #DDD;
	background-color: white;
}
.error {
	color: red;
	background-color: #FCC;
	border: 1px solid red;
}
.debug {
	color: black;
	background-color: #FCF;
	border: 1px solid #000;
}